<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.app.emp.mapper.EmpMapper">
	<!-- 전체 조회 -->
	<select id="selectEmpAll" resultType="EmpVO">

	</select>
	
	<!-- 단권 조회 -->
	<select id="selectEmp" resultType="EmpVO">

	</select>
	
	<!-- 등록 -->
	<insert id="insertEmp" parameterType="">

	</insert>
	
	<!-- 수정 -->
	<update id="updataEmp" parameterType="">

	</update>
	<!-- 삭제 -->
	<delete id="deleteEmp" parameterType="">

	</delete>
	
</mapper>