<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.app.emp.mapper.EmpMapper">
<!-- namespace == mapper 인터페이스 경로  -->
	<!-- 전체 조회 -->
	
<!-- resultType == 조회 결과 값을 저장하기 위한 데이터 타입(데이터 하나에 대한 타입 지정) -->
<!-- parameterType == 전달받은 파라미터 데이터 타입 지정(선택적) -->
	<select id="selectEmpAll" resultType="EmpVO">
		SELECT 	employee_id
				,first_name
				,last_name
				,email
				,phone_number
				,hire_date
				,job_id
				,salary
				,commission_pct
				,manager_id
				,department_id
				
		FROM	 employees
		<where>
			<if test="jobId != null and !jobId.equals('')">
				job_id = #{jobId}
			</if>
		</where>
		ORDER BY employee_id
	</select>

	<!-- 단권 조회 -->

	<select id="selectEmp" resultType="EmpVO">
		SELECT 	employee_id
				,first_name
				,last_name
				,email
				,phone_number
				,hire_date
				,job_id
				,salary
				,commission_pct
				,manager_id
				,department_id
				
		FROM	 employees
		WHERE   employee_id = #{employeeId}
	</select>

	<!-- 등록 -->

	<insert id="insertEmp" parameterType="EmpVO">
	<!-- keyProperty(필드명 == 결과를 담을 대상이 누구인지(EmpVO.java), resultType(데이터 타입) -->
		<selectKey	keyProperty="employeeId"
					resultType="Integer"
					order="BEFORE">
			SELECT NVL(MAX(employee_id),0) +1
			FROM	employees
		
		</selectKey>
		INSERT INTO employees
				(
				employee_id
				,last_name
				,email
				,hire_date
				<if test="jobId != null and !jobId.equals('')">
					,job_id
				</if>
				<if test="salary >0 ">
					,salary
				</if>
				)
		VALUES
				(
				 #{employeeId}
				 ,#{lastName}
				 ,#{email}
				 <choose>
				 	<when test="hireDate != null">
				 		,#{hireDate}
				 	</when>
				 	<otherwise>
				 		,sysdate
				 	</otherwise>
				 </choose>
				 <if test="jobId != null and !jobId.equals('')">
				 	,#{jobId}
				 </if>
				 <if test="salary >0 ">
				 	,#{salary}
				 </if>
				)
		
	</insert>

	<!-- 수정 -->

	<update id="updataEmp" parameterType="EmpVO">
		UPDATE	employees
		SET		
				last_name = #{lastName}
				<if test="email != null and !email.equals('')">
					,email = #{email}
				</if>
				 <if test="hireDate != null">
				 	,#{hireDate}
				 </if>
				<if test="salary > 0 ">
					,salary = #{salary}
				</if>
				WHERE	employee_id = #{employeeId}
	</update>
	<!-- 삭제 -->

	<delete id="deleteEmp" parameterType="int">
		DELETE employee_id = #{eid}
	</delete>

</mapper>