<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>전체조회</title>
</head>
<body>
<table >
		<thead>
			<tr>
				<th>부서번호</th>
				<th>부서이름</th>
				<th>매니저ID</th>
				<th>지역ID</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="dpmInfo,idxStat :${dpmList}">
			<tr th:id ="${idxStat.odd}"
				th:onclick="|location.href='@{/dpmInfo(departmentId =${dpmInfo.departmentId})}'|">
				<td th:text="${dpmInfo.departmentId}"/>
				<td th:text="${dpmInfo.departmentName}"/>
				<td th:text="${dpmInfo.managerId}"/>
				<td th:text="${dpmInfo.locationId}"/>
			</tr>
			</th:block>
		</tbody>
	</table>
</body>
</html>