<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="Content">
	  
	  <!-- layout => https://mvnrepository.com/artifact/nz.net.ultraq.thymeleaf/thymeleaf-layout-dialect/3.2.1 -> github에서 찾음 -->
	  <!-- decorate 파일이 찾아가는 경로 -->
	<!-- prefix=(/boot240417/src/main/resources/templates/) decorate=(common/layouts/default_layout) suffix=(.html) -->
	
 <h1>도서대여관리 프로그램</h1>
</html>