<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<head>
<meta charset="UTF-8">
<title>이미지 업로드</title>
</head>
<body>
	<form th:action="@{/formUpload}" method="post"
		enctype="multipart/form-data">
		<!-- enctype 꼭 변경해야한다. -->
		<input type="file" name="images">
		<button type="submit">전송</button>
	</form>
	<hr>
	<div>
		<input name="uploadFiles" type="file" multiple>
		<button class="uploadBtn">upload</button>
	</div>
	<script>
		document.querySelector('.uploadBtn').addEventListener('click', function(e){
			let formData = new FormData(); // 유사) jQuery.serialize() or jQuery.serializeArray()
			// 1) Form 태그 내부의 데이터를 한번에 담음
			//2 2) Ajax를 이용해서 'Content-type:multipart/form-data'를 보내야 할때
			let fileInput = document.querySelector('input[name="uploadFiles"]');
			let fileList = fileInput.files;

			for(let file of fileList){
				formData.append('uploadFiles', file);
			}
			
			fetch('uploadsAjax', {
				method:'post',
				body: formData

			})
			.then(res => res.json())
			.then(result => {
				console.log(result)
			})
			.catch(err => console.log(err));

			//jQuery.ajax
				$.ajax({
	 	               url: 'uploadsAjax',	
	 	               type: 'POST',
	 	               processData: false,	
	 	               //기본값은 true, ajax 통신을 통해 데이터를 전송할 때, 기본적으로 key와 value값을 Query String으로 변환해서 보냅니다.
	 	               contentType: false,	
	 	               // multipart/form-data타입을 사용하기위해 false 로 지정합니다.
	 	               data: formData,               
	 	               success: function(result){
	 	                   for(let image of result){
	 	                	   let imgTag = $('<img/>').prop('src', 'images/'+ image)
	 	                	   						   .css('width', '50%');
	 	                	   $('div').append(imgTag);
	 	                   }
	 	               },
	 	               error: function(reject){	
	 	                   console.log(reject);
	 	               }
	 	           });
		});

		
	</script>
</body>
</html>